/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f7f7f7;
}

#main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  color: #333;
}

p {
  color: #666;
}

a {
  text-decoration: none;
  color: #333;
}

/* Header styles */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

#nav {
  list-style: none;
}

#nav li {
  display: inline-block;
  margin-right: 10px;
}

#nav a {
  padding: 5px;
}

.subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.subnav li {
  display: block;
  margin-bottom: 5px;
}

#nav li:hover .subnav {
  display: block;
}

.search-btn {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 5px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}

#search-button {
  background-color: #ccc;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* Slider styles */
#slider {
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
  padding-top: 50px; 
  padding-bottom: 50px;
}

#slider1,
#slider2 {
  display: flex;
  animation: slide 10s linear infinite;
}
.slider-item img {
  width: 100px;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 1/1; 
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.close {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

/* Content styles */
#content {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.popular-comics, .latest-releases {
  margin-bottom: 40px;
}

.comic-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.comic-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; 
  align-items: center;
  justify-content: center; 
  flex-basis: calc(100% - 20px); /* Set the width of each comic card to 50% with a 10px gap in between */
  margin-bottom: 20px; /* Add some bottom margin for spacing */
}


.comic-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Footer styles */
#footer {
  padding: 20px;
  text-align: center;
  background-color: #333;
  color: #fff;
}
/* Add styles for the search results */
#search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.search-result-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-result-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.search-result-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.search-result-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}
